{% extends 'base.html' %}
{% block content %}
<h2>Instachallenge!</h2>
<div class="list-details col-xs-offset-2">
  <div class="well">
    <br>  
      <form action="/results" method="POST">
<!-- should this be POST? -->

          <div class="form-group">
            <label for="tag">Pick an Hashtag:</label>
           <input type="text" name="tag" required class="form-control" id="InputTag" placeholder="Hashtag (phrase, don't include # sign)">
          </div>

          <!-- TODO - need to reject invalid searches - where the dates are in reverse  -->
          <div class="form-group">
            <label for="start_date">Enter a start date in this fashion 2016-06-01:</label>
           <input type="date" name="start_date" required max="2020-12-31" class="form-control" id="InputStartDate" placeholder="Start Date">
          </div>

          <div class="form-group">
            <label for="end_date">Enter an end date in this fashion 2016-09-01:</label>
           <input type="date" name="end_date" required min="2009-01-02" class="form-control" id="InputEndDate" placeholder="End Date">
          </div>
          
          <input type="submit">

            </div>
      </form>
  </div>
</div>
{% endblock %}



  